<template>
    <div id='about'>
     <!--  <h1></h1> -->
       <!--About me image -->

        <section class='aboutme'>
            <h1>Curriculum Vitae</h1>
            <div class="cv">
            <div>
                <h2>Education</h2>
                <h4>September 2021 - September 2023</h4>
                <h3>University College London - MSc Human-Computer Interaction: Distinction(P)</h3>
                <p>Research Project: Connecting Through Touch: Human-Animal Bonding in a Virtual Environment using Mid-Air Touch 
</p>

                <h4>September 2017 - May 2020</h4>
                <h3>Edge Hill University - BSc Web Design and Development: 1st Class</h3>
               <p>Research Project: Understanding Text spacing: A comparison of WCAG 2.1 success criteria and user preference - 77%
</p>

                <h4>September 2015 - September 2017</h4>
                <h3>Sedgehill Sixth Form (A Levels)</h3>
                <p>Photography: D*, Art and Design: B, Mathematics: C</p>
                <h4>September 2009 - September 2014</h4>
                <h3>Haberdashers’ Aske’s Hatcham College (GCSE’s)</h3>
                <p>9 A*-C Including Maths, English and Science</p>
            </div>
            <div>
                <h2>Experience</h2>
                <h4>April 2022 - June 2023</h4>
                    <h3>QA Analyst, Solidatus</h3>
                    <p>
                    <ul>
                    <li>Improved QA Process by optimising agile processes and facilitated collaboration with multi-disciplinary teams</li>
                    <li>Ensured web application was user-friendly and accessible to all users</li>
                    <li>Established and facilitated the use of Cypress within the QA team</li>
                </ul></p>

                <h4>September 2020 - April 2022</h4>
                <h3>Solutions Manager & QA Tester, Red Ant</h3>
                <p><ul>
                    <li> Championed the implementation of a standardized approach to manual quality assurance testing,  front-end automation testing, requirements gathering, and documentation</li>
                    <li>Created diagrams, storyboards and wireframes to illustrate to the wider team and clients the understanding of the project requirements</li>
                    <li>Removed weeks off client project delivery time to set a record for fastest project completion in-house</li>
                    <li>Effectively communicated and built trust with clients and key stakeholders; through workshops and sprint demos</li>
                    <li>Accurately captured client business requirements and created user stories</li>
                </ul></p>

                <h4>July 2020 - September 2022</h4>
                <h3>UX/UI Designer, Rosa and Frocks</h3>
                <p><ul>
                    <li>Created a design style guide to ensure UX and UI were consistent across the eCommerce site and all social media platforms</li>
                    <li>Using SEO techniques to ensure the website was displayed at the top of search engine results</li>
                    <li>Working with Facebook for Developers and Facebook for Business for marketing purposes</li>
                </ul></p>

            </div>
            <div>
                <h2>Skills</h2>
                <p>
                <ul class="buzzwords">
                    <li> Wire-framing</li>
                    <li>Prototyping</li>
                    <li>Mixed-Methods Research</li>
                    <li>Human-Centred Design</li>
                    <li>Requirements Gathering</li>
                    <li>Design Thinking</li>
                    <li>Agile Methodologies</li>
                    <li>A/B Testing</li>
                    <li>Business Analysis</li>
                    <li>Story-boarding</li>
                </ul>
            </p>
            </div>
        
            <div>
                <h2>Toolbox</h2>
                <p>
                <ul class="buzzwords">
                    <li>Figma</li>
                    <li>Cypress</li>
                    <li>Vue.js</li>
                    <li>Miro</li>
                    <li>HTML5</li>
                    <li>Python</li>
                    <li>CSS3</li>
                    <li>JIRA</li>
                    <li>JavaScript</li>
                    <li>Qualtrics</li>
                </ul></p>
            </div>
            <div>
                <h2>Contact Me</h2>
                <p>toyinm4rtins@gmail.com</p>
                <p>https://www.linkedin.com/in/toyin-nadine-martins/</p>
            </div>
            <div>
                <h2>Summary</h2>
                <p>I am a self-motivated and collaborative User Researcher, who is a supportive and friendly team player, with experience working and collaborating in cross team environments. I love using my knowledge to improve the relationship between people and interfaces.</p>
            </div>
            <div>
                <h2>Volunteering</h2>
                <h4>February 2020 - April 2020</h4>
                <h3>Digital Champion, Sefton CVS</h3>
                <p>Assisted vulnerable adults with gaining valuable IT skills</p>

                <h4>January 2014 - September 2017</h4>
                <h3>Non-Commissioned Officer and Cadet, RAF</h3>
              <p>
               <ul>
                <li>Quickly promoted to the rank of Flight Sergeant</li>
                <li>Awards: Jack Petchey award, Deputy Lord Lieutenant Cadet for Lewisham, YOU Lewisham 2nd Place</li>
               </ul></p>
            </div>
            <div>
                <h2>Ask me about...</h2>
                <p>Simulation Games. Olympic weightlifting. Human-Canine Bonding through touch. The future of technology. Ethics in technology. Phenomenological Interview techniques. Women’s health.</p>
            </div>
        </div>
            
        </section>
       
         
          
    </div>
</template>

<script>
export default {
    name: 'about'
}
</script>

<style>
/** about me page in grid */
#about {

    padding-bottom: 80vh;
    margin-top: .5rem;
    place-self: center;
}

ul {
    list-style-type: circle;
}
.aboutme {
    display: grid;
    grid-template-rows: 20vh auto;
    margin-bottom: 10rem;
    margin-top: .5rem;
    margin-left: 3vw;
}
.cv {
    display: grid;
    margin-bottom: 10rem;
    margin-left: 5vw;
    margin-top: .5rem;
    margin-right: 5vw;
    grid-template-columns: 1fr 1fr;
}

.cv div {
    margin-left: 5rem;
    margin-right: 5rem;
}

.aboutme h1, h2, h3, p {
    -webkit-animation: 2s fadeIn;
    animation: 2s fadeIn;
}


.aboutme p{
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 200;
font-size: 1rem;
letter-spacing: 0.1rem;
padding-left: 1rem;

}

.aboutme h2 {
    padding-left: 0rem;
    padding-bottom: 0rem;
    font-size: 2rem;
}

.aboutme h3 {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 1.3rem;
}

.aboutme h4 {
    font-family: 'Yeseva One';
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: 0.05rem;
}

.buzzwords {
    display: grid;
    grid-template-columns: auto auto;
}

</style>