<template>
    <div id='contact'> 
        <h1>Contact Me</h1>
        <section class='contactme'>
            <!-- Email-->
            <p>Send me an email
         <a href="mailto:toyinm4rtins@gmail.com?Subject=Hey!">{{email}}</a>
         or 
         <!-- Linked in-->
         <a href="https://www.linkedin.com/in/toyin-nadine-martins/">Send me a message on Linkedin!</a>
         </p>
         <p>
            <!-- <a href="../../assets/files/Toyin_Martins_CV.pdf">View My full Resume here
                 </a> -->
       </p>
        </section>
      
    </div>
</template>

<script>
export default {
    name: 'contact',
    data: function() {
        /** email data */
        return {
            email: 'toyinm4rtins@gmail.com',
          
   
        }
   }
}
</script>

<style>
/**Contact me page styling */
#contact {
    display: grid;
    padding-bottom: 80vh;
    margin-left: 3svw;
    margin-top: .5rem;
    grid-template-rows: 25vh auto;
    
    
}


/** contact me content styling,  animation */

.contactme {
    font-size: 2vh;
    animation: 1.2s fadeIn;
   


}

/** links set to black */
.contactme a {
  color: black;  
}

.contactme p {
    font-family: 'Poppins';
    font-weight: 100;
    margin-left: 4rem;
}
</style>