<template>
    <div >
       <!-- Home view. Flower, email link, and description-->
    <div id='home'>
             <img src="../assets/bk.png" alt="A picture of an illustrated red and pink rhodedendron, half of it is visible on the page"  class="flower1" >
        <h1>Hi, My Name's <span class='bold'>Toyin</span>. I am a<span class='bold'> User Experience Designer</span> with a passion for <span class='bold'>Problem Solving</span> and <span class='bold'>Human-Centred Design.</span></h1>
         <a @mouseover=" hover = true"
           @mouseleave=" hover = false"
             class='email' href="mailto:toyinm4rtins@gmail.com?Subject=Hey!" target="_top"><p>Let's work Together</p></a>
        </div>
       <!-- examples of my work split into blue and pink -->
       <div class='work'>


            <!---         GGH/LC --> 
            <router-link class='workbtn' to="/work/gghlc">
        <div class='colour' id="colour4" v-scrollanimation>
        
         <div class='worktext'>
            <h3>Good Growth Hub X Local Champions: Intro To Freelance Quiz</h3>
            <p>Final design for an introduction to freelance web questionnaire plug in. For a collaborative project between Good Growth Hub and Local Champions.</p>
         </div>
         <img class='imgbkd' src="../assets/gghlc/gghlc_prev.png" alt="">
        </div>  
        </router-link>  



<!--STEAM REDESIGN  --> 
        <router-link class='workbtn' to="/work/steam">
       <div class='colour' id="colour1" v-scrollanimation>
           
           <div class='worktext'>
            <h3>Steam Desktop Application: Unmoderated Usability Evaluation</h3>
            <p>Recommending a new site map for the Steam desktop application, based on the results of a remote unmoderated Usability Study.</p>
           </div>
           <img class='imgbkd' loading="lazy" src="../assets/steam/steamprev.png" alt="">
          </div>
          </router-link>


 <!-- Data Vis 
       <router-link to="/work/datavis">
        <div class='colour' id="colour2" v-scrollanimation>
           
            <div class='worktext'>
                <h3>Data Visualisation Examples Using Tableau</h3>
                <p>Using Tableau to create data visualisations to meet user needs...</p>
           </div>
           <img class='imgbkd' src="../assets/datavis/datavishome.png" alt="">
        </div>
        
        </router-link>-->

     

     


               <!---          WILKO --> 
               <router-link class='workbtn' to="/work/wilko">
        <div class='colour' id="colour3" v-scrollanimation>
        
         <div class='worktext'>
            <h3>In store Processes: Gap Scan User Flow</h3> 
            <p>An Example of Client work showing a complex in store process.</p>
         </div>
         <img class='imgbkd' src="../assets/wilko/wilkoprev.png" alt="">
        </div>  
        </router-link>  


 <!---          VR HOUSE PLANT SIM  
            <router-link class='workbtn' to="/work/vrhps">
        <div class='colour' v-scrollanimation>
        <img class='imgbkd' src="../assets/vrhps/interaction.png" alt="">
         <div class='worktextpk'>
            <h3>VR House Plant Simulator</h3>
         </div>
        </div>  
        </router-link>  --> 


<!-- PWC HACKATHON 
      <router-link class='workbtn' to="/work/pwc">
       <div class='colour' id="colour5" v-scrollanimation>
            
           <div class='worktext'>
            <h3>PwC X UK Black Tech Hackathon: AI for good</h3>
            <p>Hackathon exploring the uses of AI and IOT devices to enable remote care for elderly family members.</p>
         </div>
         <img class='imgbkd' loading="lazy" src="../assets/pwc/mainimage.jpg" alt="">
          </div>
          
          </router-link> --> 

<!-- GLOBAL GAMES JAM 2020--> 

       <router-link class='workbtn' to="/work/ggj">
        <div class='colour' id="colour6" v-scrollanimation>
       
         <div class='worktext'>
            <h3>Global Games Jam</h3>
            <p>The design and implementation of Scraps 2, a game created during the 2020 Global Games Jam.</p>
         </div>
         <img class='imgbkd' src="../assets/ggj/ggjprev.png" alt="">
        </div>  
        
        </router-link> 

</div>


<div class="abouthome">

<h2>About Me</h2>

<p> Hi, I’m Toyin Martins. 
I enjoy collaborating with cross-functional teams to enhance the relationship between people and interfaces.
 With a focus on implementing human-centred design practices, 
 I bring a distinctive combination of user-centric technical proficiency and commercial acumen.
 <br> <br>
 I have three years of experience in B2B and SaaS companies, working with agencies, start-ups and charity organisations. 
 I hold a Masters in Human-Computer Interaction, obtained from UCL in 2023 and a bachelors degree in Web Design and Development from Edge Hill University. 
 <br><br>
 I ensure technology solutions harmoniously align with user expectations and broader business objectives.
 <br><br> Do not hesitate to get in touch, so that we can create harmonious experiences between users and interfaces.</p>
</div>


</div>


</template>

<script>
export default {
    name: 'home', 
    data() {
        return {
            hover:false,
        }
    },
    mounted() {
   console.log("hello from home")
    }
    


}
</script>

<style>

/** scroll on visible set here. before-enter is before user sees this element */
.before-enter {
    opacity: 1;
    transform: translateX(200px);
    transition: all 1s ease-out;
}
/** enter is after user sees element */
.enter {
    opacity: 1;
    transform: translateX(0px);

}


/**Styling for whole page including grid template */
#home {
    display: grid;
    grid-template-columns: 40vw 60vw;
    grid-template-rows: auto;
    margin-left: 5vw;
    margin-top: .5rem;
    height: 100vh;
    margin-bottom: 40vh;
}

#home h1 {
    padding-top: 4vh;
    
}

#home p {
    height: auto;
}

.abouthome {
    display: grid;
    grid-template-columns: 20vw 70vw;
    padding-top: 0rem;
    padding-bottom: 20rem;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: rgb(255, 235, 235);
    
}

.abouthome h2 {
   padding-top: 1rem;
   align-self:auto;
   margin-top: 0rem;

}

.abouthome p{
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 200;
font-size: 1.5rem;
max-width: 100%;
letter-spacing: 0.1rem;
padding: 1rem 1rem 1rem 1rem;
animation: fadeIn 1s;


}


.folio {
    text-decoration: underline;
    padding-left: 2rem;
}

/** bold for words in description */
.bold {
    font-weight: bold;
}


h2 {
    grid-column-start: 1;
    font-size: 4.5vh;
    align-self: center;
    background-color: rgba(236, 143, 143, 0);
    padding: 1rem 1rem 1rem 1rem;
    animation: fadeIn 1s;
}



/** email styling */
.email {
    text-decoration: none;
    color: black;
    font-family:'Poppins';
    align-self: center;
    font-weight: 300;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    font-size: 15vh;
    padding: 1rem 1rem 1rem 1rem;
    background-color: #f4b4b4;
    width:30%;
    text-align: center;
    border-radius: 60px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.187);
    transition-duration: .5s;
    
}

.email:hover {
    box-shadow: none;
    color: white;
    background-color: rgb(226, 83, 83);
    box-shadow: inset 0 0 10px rgb(135, 35, 35);
   
}



/** email words */
.email p{
font-size: 3.5vh;
place-self: center;
margin-top: 1vh;
margin-bottom: 1vh;
align-content: center;
}

.work h2 {
    font-size: 1.4rem;
}

/** styling og the flower */
.flower1{
 position: absolute;
 width: 40%;
 height: auto;
 float: right;
 right: 0%;
 z-index: -3;
 top: 4rem;
 grid-column-start: 2;
 margin-top: 5vh;
 overflow: hidden;
 position: absolute;
 animation: fadeIn 2s;
}

/** work styling */
.work {
    display: grid;
    margin-top: 6rem;
    margin-bottom: 40vh;
    z-index: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

/** if on smaller device then flower moves and position of description and email button all move into 1st nd second grid */
@media(max-width: 65rem) {
    .flower1 {
        height: 70%;
        top: 30%;
        width: auto;
        
    }
    #home h2 {
        grid-column: 1 / 3;
    }
    h1 {
       grid-column: 1 / 3;
    }


    .jumbotxt h3 {
        font-size: 6vw;
   
    }

     .work {
    margin-top: 0;
    
    grid-template-columns: 1fr;
}

.abouthome {
    display: grid;
    grid-template-columns: 70vw;
    
}
}




/** grid for both elements */
.colour {
    padding: 1rem;
    max-width: 1000px;
    place-self: center;
    display: grid;
    grid-template-rows: 40vh 40vh;
    margin-left: 4vw;
    margin-right: 4vw;
    padding-bottom: 15vh;
}

 
 #colour1,   #colour2, #colour3,  #colour4,  #colour5,  #colour6 {
     z-index: -2;
     margin: 4rem;
     border-radius: 1rem;
 }

 #colour1 {
    background-color: rgb(255, 249, 220);
 }


 #colour2 {
    background-color: rgb(214, 229, 236);
 }

 #colour3 {
    background-color: rgb(221, 238, 227);
 }

 #colour4 {
    background-color: rgb(245, 228, 228);
 }

 #colour5 {
    background-color: rgb(234, 244, 224);
 }

 #colour6 {
    background-color: rgb(251, 233, 214);
 }




.work h3 {
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 2rem;
line-height: 1.5;
letter-spacing: 0.04em;
color: black;
margin-left: 1vw;
margin-right: 1vw;
margin-top: 2vh;

}

.work h4 {
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 100;
font-size: 1rem;
line-height: 1.5;
letter-spacing: 0.04em;
margin-left: 1vw;
margin-right: 1vw;
color: black;

}


.work p {
font-family: 'Inter', sans-serif;
font-weight: 300;
font-size: 1.2rem;
letter-spacing: 0.16vw;
color: black;
margin-left: 1vw;
margin-right: 1vw;
padding-top: 3vh;
}




/** remove linkstyling as whole element if link */
.work a {
text-decoration: none;
}

/** more test */
.colour h3 p  {
    
    margin-left: 2rem;
}

/** image styling inside its grid */
.imgbkd {
    place-self: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 100%;
    max-height: 65vh;


}



/** more styling depending on blue or pink 
.colour a{
    text-decoration: none;
    color: white;
    background-color:#750909;
    border-radius: 10vw;
    justify-content: center;
    font-size: 3vh;
    text-align: center;
    display: inline-block;
    padding: 1vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5vw;
    margin-bottom: 1.5rem;
}
.colour a{
    text-decoration: none;
    color: rgb(141, 21, 21);
    background-color:rgb(11, 50, 77);
    border-radius: 10vw;
    justify-content: center;
    font-size: 3vh;
    text-align: center;
    display: inline-block;
    padding: 1vw;
    margin: 5vw;
    margin-bottom: 1.5rem;
} */



</style>