<template>
    <div id="workpage">
       <h1>Portfolio Work</h1>
<div class='work'>


        <!---         GGH/LC --> 
        <router-link class='workbtn' to="/work/gghlc">
        <div class='colour' id="colour4" v-scrollanimation>
        
         <div class='worktext'>
            <h3>Good Growth Hub X Local Champions: Intro To Freelance Quiz</h3>
            <p>Final design for an introduction to freelance web questionnaire plug in. For a collaborative project between Good Growth Hub and Local Champions.</p>
         </div>
         <img class='imgbkd' src="../assets/gghlc/gghlc_prev.png" alt="">
        </div>  
        </router-link>  

        <!-- STEAM -->

    <router-link class='workbtn' to="/work/steam">
       <div class='colour' id="colour1" v-scrollanimation>
           
           <div class='worktext'>
            <h3>Steam Desktop Application: Unmoderated Usability Evaluation</h3>
            <p>Recommending a new site map for the Steam desktop application, based on the results of a remote unmoderated Usability Study.</p>
           </div>
           <img class='imgbkd' loading="lazy" src="../assets/steam/steamprev.png" alt="">
          </div>
          </router-link>


 <!-- Data Vis
       <router-link to="/work/datavis">
        <div class='colour' id="colour2" v-scrollanimation>
           
            <div class='worktext'>
                <h3>Data Visualisation Examples Using Tableau</h3>
                <p>Using Tableau to create data visualisations to meet user needs...</p>
           </div>
           <img class='imgbkd' src="../assets/datavis/datavishome.png" alt="">
        </div>
        
        </router-link> -->

     

     


               <!---          WILKO --> 
               <router-link class='workbtn' to="/work/wilko">
        <div class='colour' id="colour3" v-scrollanimation>
        
         <div class='worktext'>
            <h3>In store Processes: Gap Scan User Flow</h3> 
            <p>An Example of Client work showing a complex in store process.</p>
         </div>
         <img class='imgbkd' src="../assets/wilko/wilkoprev.png" alt="">
        </div>  
        </router-link>  


 <!---          VR HOUSE PLANT SIM  
            <router-link class='workbtn' to="/work/vrhps">
        <div class='colour' v-scrollanimation>
        <img class='imgbkd' src="../assets/vrhps/interaction.png" alt="">
         <div class='worktextpk'>
            <h3>VR House Plant Simulator</h3>
         </div>
        </div>  
        </router-link>  --> 


<!-- PWC HACKATHON 
      <router-link class='workbtn' to="/work/pwc">
       <div class='colour' id="colour5" v-scrollanimation>
            
           <div class='worktext'>
            <h3>PwC X UK Black Tech Hackathon: AI for good</h3>
            <p>Hackathon exploring the uses of AI and IOT devices to enable remote care for elderly family members.</p>
         </div>
         <img class='imgbkd' loading="lazy" src="../assets/pwc/mainimage.jpg" alt="">
          </div>
          
          </router-link> --> 

<!-- GLOBAL GAMES JAM 2020--> 

       <router-link class='workbtn' to="/work/ggj">
        <div class='colour' id="colour6" v-scrollanimation>
       
         <div class='worktext'>
            <h3>Global Games Jam</h3>
            <p>The design and implementation of Scraps 2, a game created during the 2020 Global Games Jam.</p>
         </div>
         <img class='imgbkd' src="../assets/ggj/ggjprev.png" alt="">
        </div>  
        
        </router-link> 


</div>

</div>


</template>

<script>
export default {
    name: 'work', 
    data() {
        return {
            hover:false,
        }
    }
}
</script>

<style>
/**Most styling in home.vue */
#workpage {
    display: grid;
    margin-bottom: 10rem;
    margin-top: .5rem;
    margin-left: 3vw;
}

#workpage h1 {
    margin-bottom: 0rem;
}

#workpage h4 {
    margin-bottom: 2rem;
}

</style>