<template>
  <div id="app">
 <header class="header">
  <!--Navigation 
  uncheck box if clicked--> 
    <router-link to="/"><img class='logo' src="../src/assets/TM.svg" alt=""></router-link>
     <!-- Nav menu when on small device-->
      <input class='menu-btn' type="checkbox" id="menu-btn" v-model="checkBoxVal">
       <label class='menu-icon' for="menu-btn"><span class='nav-icon'></span></label>
        <ul id='nav' class='menu' @mouseover=" hover = true"
        @mouseleave=" hover = false" >
        <li @click="uncheck"><router-link to="/">Home</router-link></li>
        <li @click="uncheck">
          <router-link to="/work">Portfolio</router-link>
        </li>
    <!----    <li @click="uncheck"><router-link to="/about">My CV</router-link></li> -->
        <li @click="uncheck"><router-link to="/contact">Contact Me</router-link></li>
       </ul>
 </header>
 

     
  <main>
      <router-view/>
  </main>
 <footer>
  <div class="footlinks">
   
  </div>

  <p>Designed, Created and Maintaned by Toyin Nadine Martins.</p>
  
 </footer>
  

  </div>
</template>



<script>
export default {
  data() {
    return {
      hover:false,
      checkBoxVal : false,
    }
  },
   methods: {
     //uncheck check box when clicked
   uncheck() {
     this.checkBoxVal = false;
     console.log('click')
     window.scrollTo(0,0)
   },


  },
}

</script>


<style>
/** import google font for whole site */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One:wght@100;200;300;400;500&display=swap');



body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  
}

/** header styling */
header{
  position: absolute;
  z-index: 1;

}

/** word styling */
#app h1{
font-family: 'Poppins';
font-style: normal;
font-weight: 100;
font-size: 5vh;
margin-top: 15vh;
margin-bottom: 10vh;
animation: fadeIn .5s;

}

#app h2 {
font-family: 'Poppins';
font-style: normal;
font-weight: 100;
letter-spacing: 0.05rem;
margin-right: 1rem;

}

/** styling for logo on page */
.logo {
  width: 25vh;
  float: left;
  height: auto;
  opacity: 100;
  margin-left: 1rem;
  
}


/** all navigation  */
#nav {
font-family: 'Yeseva One', serif;
font-style: normal;
font-size: 1.5vw;
letter-spacing: 0.04em;
list-style-type:  none;
text-decoration: none;
color: #000000;
width: 100vw;
height: 100vh;
display: grid;
grid-template-rows: 1fr 1fr 1fr 1fr 6fr;
grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
right: 0%;
margin-top: 2rem;
z-index: +10;
background-color: white;
}

#nav a {
  font-weight: 100;
  color:black;
  text-decoration: none;
  
}

#nav a.router-link-exact-active {
  color: #570327;
  font-weight: 100;
  text-decoration-line: underline ;
}


ul:hover {
  color: rgb(107, 149, 160);

}

.header ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
}

.header ul a {
  
  padding: 1rem;
}

/** for menu button nav styling 

 */
.menu {
clear:both;
max-height: 0px;
transition: max-height .2s ease-out;
right: 4rem;

}


.menu-icon {
  position: absolute;
  padding: 20px 20px;
  right: 0;
  cursor: pointer;
  clear: none;
  

}

.menu-icon .nav-icon {
  background-color: #000000;;
  display: block;
  height: 3px;
  width: 25px;
  position: relative;
  transition: background .2s ease-out;
}


.menu-icon .nav-icon::before {
  background-color: #000000;
  content: "";
  display: block;
  height: 100%;
  width: 80%;
  position: absolute;
  transition: all .2s ease-out;
  top: 6px;
  right:0;
}

.menu-icon .nav-icon::after {
  background-color: #000000;
  content: "";
  display: block;
  height: 100%;
  width: 50%;
  position: absolute;
  transition: all .2s ease-out;
  top: 12px;
  right:0;
  
}

.menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 100vh;
  
}
.header .menu-btn:checked ~ .menu-icon .nav-icon::before,
.header .menu-btn:checked ~ .menu-icon .nav-icon::after 
 {
  width: 100%;
}

/** moves logo and navigation around if site on larger device */
@media (min-width: 65rem) {
   
   .logo {
     position:static;

   }
  .header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 40vw 60vw;
    padding: 1rem;
    overflow: hidden;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
 
  }

  .header .menu-icon {
    display: none;
  }
  #nav {
    height: 3rem;
    font-size: 2rem;
    margin-top: 0;
    right: 0%;
    display: grid;
    grid-template-columns: 15vw 15vw 15vw 100vw;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    margin-left: 15vw;
  }
  
  #nav li {
    grid-row: 1;
  

  }
}

/** footer */
footer {
  background-color: white;
  bottom: 10px;
  font-family: 'Yeseva One';
  margin-top: 5rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 2em;
  font-size: .8rem;
 
}

footer p {
  font-family: 'Poppins';
}

footer a{
  color: black;
  
}
</style>
