<template>
    <div id='datavis'>
       <!--Utiligroup page contents -->
       <div class='page-contents'>
         <h1>Good Growth Hub X Local Champions: Intro To Freelance Quiz</h1>

         <div class="ggh">
        <img src="../../assets/gghlc/Group33.png">
         <img src="../../assets/gghlc/Group32.png">
         <img src="../../assets/gghlc/gghlc_prev.png">
         </div>
         

        <!--Overview of project -->
        <h2>Overview</h2>
        <h3>Client</h3>
        <p>Good Growth Hub & Local Champions</p> 
        <h3>Purpose</h3>
        <p>Design of a web plugin to enable 100+ junior freelancers to identify key areas for skill development through a questionnaire. </p>
        <h3>Role</h3>
        <p>UX/UI Designer</p>
        <h3>Tools</h3>
        <p>Figma</p>
        <h3>Description</h3>
        <p>I worked with Good Growth Hub and Local Champions to create key screens for a questionnaire that was to be embedded inthe Good Growth Hub Website, and advertised via instagram.
            <br><br> A Mobile first approach was used as the understanding that people would mostly access this questionnaire through their mobiles from instagram. 
            <br><br> Working with key stakeholders to create a hi-fidelity prototype using the Good Growth Hub's design style guide, I was able to produce the below concept.
        </p>

    
      </div>

    </div>
</template>

<script>
export default {
    
}
 console.log("ello")
</script>


<style>

/**styling for iframes on page */
iframe {
   margin-top: 1rem;
   width: 90vw;
   max-width: 1000px;
   max-height: 80vh;
   border-radius: .5rem;
}

/** images for lofis and note.ly */
.lofi, .notes {
   width: 90vw;
   height: auto;
   
}
#gghlc img {
   max-width: 1000px;
}

/** whole page */
#gghlc {
    display: grid;
    margin-bottom: 10rem;
    margin-left: 5vw;
    margin-top: .5rem;
    margin-right: 5vw;
    grid-template-columns: 90vw;
    animation: 1s fadeIn;

}
/** mobile iframe */
.mobile {
   max-width: 500px;
}

/** contents of page width max 1000px for large screens */
.page-contents {
   max-width: 1000px;
   place-self: center;
  
}

/** text styling */
#gghlc h1 {
font-size: 2.5rem;
}
#gghlc h2{
   font-size: 1.5rem;
   font-style: normal;
   text-decoration: underline;
   padding: 0rem;
   
}

#gghlc h3{
   font-size: 1.2rem;
   font-family: 'Poppins';
   letter-spacing: 0.05rem;
   font-weight:500;
   
}

#gghlc h4{
   font-size: 1rem;
   font-family: 'Poppins';
   letter-spacing: 0.05rem;
}

#gghlc p{
   font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 200;
font-size: 1rem;
letter-spacing: 0.1rem;


}

.ggh {
   display:grid;
   grid-template-columns: auto auto auto;
   grid-template-rows: 50vh;
   max-width: 1000px;
   padding-bottom: 1rem;
}

.ggh img  {
  height: 50vh;

}



</style>