<template>
    <div id='gghlc'>
       <!--Utiligroup page contents -->
       <div class='page-contents'>
         <h1>Good Growth Hub X Local Champions: Intro To Freelance Quiz</h1>

         <div class="ggh">
        <img src="../../assets/gghlc/Group33.png" loading="lazy">
         <img src="../../assets/gghlc/Group32.png" loading="lazy">
         <img src="../../assets/gghlc/gghlc_prev.png" loading="lazy">
         </div>
         

        <!--Overview of project -->
        <h2>Overview</h2>
        <h3>Client</h3>
        <p>Good Growth Hub & Local Champions</p> 
        <h3>Purpose</h3>
        <p>Design of a web plugin to enable 100+ Junior freelancers to identify key areas for skill development through a questionnaire. </p>
        <h3>Role</h3>
        <p>UX/UI Designer</p>
        <h3>Tools</h3>
        <p>Figma</p>
        <h3>Description</h3>
        <p>I worked with Good Growth Hub and Local Champions to create key screens for a questionnaire that was to be embedded within the Good Growth Hub Website, and advertised via Instagram.
            <br><br> A Mobile first approach was used as the understanding that people would mostly access this questionnaire through their mobiles from instagram. 
            <br><br> Working with key stakeholders to create a hi-fidelity prototype using the Good Growth Hub's design style guide, I was able to produce the below concept.
        </p>

        
        <h2>Prototype</h2>
        <h3>Questionnaire Start and Demographics</h3>
        
        <div class="ggh-prototype-final threediff">
         <img src="../../assets/gghlc/final-prototype/1.png" alt="" loading="lazy">
         <img src="../../assets/gghlc/final-prototype/2.png" alt="" loading="lazy">
         <img src="../../assets/gghlc/final-prototype/4.png" alt="" loading="lazy">
        </div>
        <p>I decided that including demographic questions, at the start of the questionnaire would be a better choice for our users. They may experience fatigue as the questionnaire goes on. Asking at the beginning of the questionnaire enables us to capture their information before they start, so that if they do not complete the questionnaire, we are still able to make contact with our freelancers based on the information they provided us with at the start.</p>
 
        <h3>Designing Question Types</h3>
        <p>I then decided to define question types to enable developers to understand what each question type would look like within the web plugin. We had around 30 questions to ask, all with different styles so defining these was important, however it was not optimal to design each question type more than once. So I decided to define each question type, and design one version to reflect the design of these questions so that the developers could move forward with their work.</p>
        <p>I also decided, once the questionnaire had started, to include a progress bar at the top of the questionnaire to enable users to see the progress they were making, alongside having a back and a next buttons. These buttons became underlined once clicked and would remain until the previous or next set of questions were selected.</p>
        <p>Questions would also become underlined when highlighted, as well as having the option shown as selected in the radio or checkbox area.</p>
        <p>
         Below, we have radio buttons to reflect singular choice questions.
        </p> 
        <div class="ggh-prototype-final three">
         <img src="../../assets/gghlc/final-prototype/7.png" alt="" loading="lazy">
         <img src="../../assets/gghlc/final-prototype/10.png" alt="" loading="lazy">
         <img src="../../assets/gghlc/final-prototype/9.png" alt="" loading="lazy">
         </div>
        
         <p> We have checkboxes to define multiple choice questions.</p>
         <div class="ggh-prototype-final three">
            <img src="../../assets/gghlc/final-prototype/11.png" alt="" loading="lazy">
         <img src="../../assets/gghlc/final-prototype/14.png" alt="" loading="lazy">
         <img src="../../assets/gghlc/final-prototype/13.png" alt="" loading="lazy">
         </div>
         <p> Finally we have long-form or open ended questions. </p>
         <div class="ggh-prototype-final three">
         <img src="../../assets/gghlc/final-prototype/15.png" alt="" loading="lazy">
         <img src="../../assets/gghlc/final-prototype/17.png" alt="" loading="lazy">
         <img src="../../assets/gghlc/final-prototype/18.png" alt="" loading="lazy">
         </div>
         <p></p>
         
          <h3>Scenario Questions</h3>
          <p>Alongside having single choice, multiple choice and long-form questions. We also designed questions that were scenario based.</p>
         <div class="ggh-prototype-final threetall">
         <img src="../../assets/gghlc/final-prototype/19.png" alt="" loading="lazy">
         <img src="../../assets/gghlc/final-prototype/22.png" alt="" loading="lazy">
         <img src="../../assets/gghlc/final-prototype/21.png" alt="" loading="lazy">
         </div>
         <p>I decided to give the scenario its own rectangle and background to represent to the user that this was an uneditable aspect of the questionnaire, as opposed to the open ended questions where the rectable would be clear or white to show that user input is requested here. 
            <br> 
         </p>
         
         <h3>Next Steps</h3>
         <div class="ggh-prototype-final twotext">
         <img src="../../assets/gghlc/final-prototype/23.png" alt="" loading="lazy">
         <p>Once the questionnaire was complete, users were presented with information about what would happen next. They were also given the opportunity to visit Good Growth Hub or Local Champions websites, as well as having the opportunity to join the Freelance Exchange whatsapp group. 
          <br> <br> All were provided as links at the bottom of the screen. Each link used the corresponding charities colours, to help users identify them through branding.</p>
         </div>

         <h3>Results</h3>
         <div class="ggh-prototype-final twotextright">
            <p>The results would then be emailed to each freelancer after they were reviewed by a mentor. To represent the results to the freelancers, we decided to use a radar chart. This would enable the freelancers to see areas for improvement in their freelancing skills.
               <br><br> There is also a breakdown of each measure for the freelancer. Enabling them to understand where these summations are derived from. The results are also to be talked through with an advisor, so that any lower scores can be discussed with support.
            </p>
         <img src="../../assets/gghlc/final-prototype/24.png" alt="" loading="lazy">
         </div>
         
      </div>

    </div>
</template>

<script>
export default {
    
}
 console.log("Welcome to the console")
</script>


<style>


/** images for lofis and note.ly */
.lofi, .notes {
   width: 90vw;
   height: auto;
   
}

/** 
#gghlc img {
   max-width: 1000px;
}*/

/** whole page */
#gghlc {
    display: grid;
    margin-bottom: 10rem;
    margin-left: 5vw;
    margin-top: .5rem;
    margin-right: 5vw;
    grid-template-columns: 90vw;
    animation: 1s fadeIn;

}


/** contents of page width max 1000px for large screens */
.page-contents {
   max-width: 1000px;
   place-self: center;
  
}

/** text styling */
#gghlc h1 {
font-size: 2.5rem;
}
#gghlc h2{
   font-size: 1.5rem;
   font-style: normal;
   text-decoration: underline;
   padding: 0rem;
   
}

#gghlc h3{
   font-size: 1.2rem;
   font-family: 'Poppins';
   letter-spacing: 0.05rem;
   font-weight:500;
   
}

#gghlc h4{
   font-size: 1rem;
   font-family: 'Poppins';
   letter-spacing: 0.05rem;
}

#gghlc p{
   font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 200;
font-size: 1rem;
letter-spacing: 0.1rem;


}

.ggh {
   display:grid;
   grid-template-columns: auto auto auto;
   grid-template-rows: 50vh;
   max-width: 1000px;
   padding-bottom: 1rem;
}

.ggh img  {
  height: 70vh;

}

.ggh-prototype-final {

    padding-bottom: 1rem;
    padding-top: 1rem;
    border: 3rem;
}
.ggh-prototype-final img  {
   height: 50vh;
   margin: .5rem;
}

.ggh-prototype-final{
   background-color: #8bc6dc5d;
   border-radius: .6rem;
}
.twotext {
   display: grid;
   grid-template-columns: 30% 70%;
    max-width: 1000px;
    place-items: start;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    border: 3rem;
    background-color: white;
}

.twotext img {
   height: 80vh;
   border: 10px solid #8bc6dc5d;
   border-radius: 0.6rem;
}

.twotextright {
   display: grid;
   grid-template-columns: 75% 25%;
    max-width: 1000px;
    place-items: start;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    background-color: white;
}


.twotextright img {
   height: 120vh;
   border: 10px solid #8bc6dc5d;
   border-radius: 0.6rem;
} 

.three {
   display: grid;
   grid-template-columns: auto auto auto;
    max-width: 1000px;
    place-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border: 3rem;
}

.three img {
   height: 60vh;
}

.threetall {
   display: grid;
   grid-template-columns: auto auto auto;
    max-width: 1000px;
    place-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border: 3rem;
}

.threetall img {
   height: 90vh;
}

.threediff {
   display: grid;
   grid-template-columns: auto auto auto;
    max-width: 1000px;
    place-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border: 3rem;
}





</style>