<template>
    <div id='ggj' >
        <!--Global games jam content -->
        <div class="page-contents">
         <h1>Global Games Jam</h1>
         <h2 class='noorange'>Scraps: Rebuilt</h2>
         <img loading="lazy" class="other" src="../../assets/ggj/ggj4.jpg" alt="Image of robot mid jump in orange and blue art deco game scene">
        <h2>Overview</h2>
        <p>The Global games jam is a annual event which encourages creatives of all backgrounds to come together over a weekend, and create a game based upon a theme.</p> 
        <h3>Role</h3>
        <p>Art Direction and 2D work</p>
         <h3>Team</h3>
         <p>Working in a team of five, split into art work, modelling, rendering and coding. </p>
         <h3>Tools</h3>
         <p>pen and paper, Adobe Illustrator</p>
        <h3>Outcome</h3>
        <p>The game was 2.5D platformer, with a robot in third person view.</p>

        <h2>Initial Ideas</h2>
        <p>Day 1: Initially we started by writing down our ideas; We figured out game objectives, style and gameplay. We then split the roles between us and assigned tasks to each person and/or group.</p>
        <img loading="lazy"  class="other" src="../../assets/ggj/board.jpg" alt="White board with breakdown of roles in the group and description of game elements.">
        <h3>Choices</h3>
        <p>We decided on a game based upon a robot that repairs himself in a post-apocalyptic world. As the robot repairs himself he levels up in speed and strength.</p>
        <h4>Art Style</h4>
        <img loading="lazy" class="other" src="../../assets/ggj/moodboard.jpg" alt="Image collage of art deco style architecture and paintings">
        <p>We decided upon a 1920's/Art-Deco theme. This style of artwork would be used throughout the game including the colour scheme. The moodboard above was used to prepare for the artwork to be created in the game and to create a consistent style. I looked at architecture and 1920s posters for inspririation. The board is organised by grouping similar pictures together. </p>
        <h6>*I do not own any of the images in the mood board. They were only used as inspiration.</h6>
        


        <h2>Sketches and Artwork</h2>

       
        <h3>Robots</h3>
        <img  loading="lazy"  class="other" src="../../assets/ggj/robots.jpg" alt="robot self and robot enemy on two adjacent pages. Drawn in pencil">
        
        <h4>Self</h4>
        <p>The main character was to be a friendly robot. A more gentle and fluid robot design wad decided on(Heavily influenced by the iron giant).</p>
        <h4>Enemy</h4>
        <p>The enemy was a more bulky design. The enemy was to be slightly slower and the design was established to represent this.</p>
        <p>These drawings were then 3D modelled by another member of my team.</p>
        <h3>Buildings</h3>
        <img  loading="lazy" class="building" src="../../assets/ggj/build.jpg" alt="Sketches of images lightly drawn on dotted paper.">
        <p>The buildings followed an art deco theme. The buildings were then created in Adobe illustrator by me. This was used in the background of the game behind the 3D elements.</p>
         <img  loading="lazy"  src="../../assets/ggj/bkd.jpg" alt="Image of tall orange buildings for game background">
        <h2>Final Outcome</h2>
        <!--Game download available -->
         <button class='download'><a href="../../assets/files/game.zip">Download Game Here</a></button>
         <p>The game can be downloaded below. Unfortunately, the game is only available on windows.</p>
        <div class="gameGallery">
            <!--Images of final product -->
          <img class="img1" loading="lazy" src="../../assets/ggj/ggj1.jpg" alt="Global games jam image of robot on bridge">
          <img class="img1" loading="lazy" src="../../assets/ggj/ggj2.jpg" alt="Robot standing on platform">
          <img class="img1" loading="lazy" src="../../assets/ggj/ggj5.jpg" alt="Robot standing on platofmr with enemy directly in front">
          <img class="img1" loading="lazy" src="../../assets/ggj/ggj6.jpg" alt="Robot facing enemy with distance">
          <img class="img1" loading="lazy" src="../../assets/ggj/ggj7.jpg" alt="Robot running">
          <img class="img1" loading="lazy" src="../../assets/ggj/ggj8.jpg" alt="Robbot standing in front of a platform">
        </div>
         <h2>Summary</h2>
         <p>At the end of the weekend, me and my team felt very accomplished. Working together, we were able to delegate and complete tasks together. I am very proud of the final outcome as it stuck the the desired theme and ideas we created in the planning stages. I had not known my team before the Global games jam, but I am glad i was able to create something so complete in just three days! </p>
        </div>
    </div>
</template>

<script>
export default {
    
}
</script>


<style>
/**images that are not in gameGallery */
.other img {
   max-width: 1000px;
   border-radius: .5rem;
   width: 90vw;
   place-self: center;
}

/**styling for this page */
#ggj {
    display: grid;
    margin-bottom: 10rem;
    margin-left: 5vw;
    margin-top: .5rem;
    margin-right: 5vw;
    grid-template-columns: 90vw;
     max-width: 1000px;
} 
/** text styling */
#ggj h1, h3, h4, p {
    max-width: 1000px;

}

#ggj h1 {
        font-size: 2.5rem;
}
#ggj h2{
    font-size: 1.5rem;
   font-style: normal;
   text-decoration: underline;
   padding: 0rem;
}
/**remove backgroun from this h2 element as it is a header for the game */
#ggj  .noorange {
    background-color: rgba(255, 255, 255, 0);
}


#ggj h3{
    font-size: 1.2rem;
   font-family: 'Poppins';
   letter-spacing: 0.05rem;
   font-weight:500;
   
}

#ggj h4{
    font-size: 1rem;
   font-family: 'Poppins';
   letter-spacing: 0.05rem;
}

#ggj p{
    font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 200;
font-size: 1rem;
letter-spacing: 0.1rem;

}
/** link styling */
#ggj a {
   font-size: 1.4rem;
   font-family: 'Athiti';
   font-style: normal;
   background-color: rgba(0, 127, 144, 0.828);
   border-radius: 3rem;
   text-align: center;
   padding: 0.2rem;
   text-decoration: none;
   color: rgb(255, 255, 255);
   padding-right: 2rem;
   padding-left: 2rem;
   align-content: center;
}

#ggj img {
    max-width: 100%;
}

/** page in portrait si sizes rediced */
.ggj-contents .building {
    max-width: 400px;
   
    
}
/**gallery of final images */
.gameGallery {
    display: grid;
    grid-template-columns:  auto;
    column-gap: 1vw;
    row-gap: 2vh;
    margin-top: 2rem;
    
   
}
/** images in game gallery */
 .img1  {
    max-width: 100%;
    height: auto;
    
}
</style>