<template>
    <div id="pwc">
        <div class="page-contents">
         <h1>PwC and UKBlack Tech: AI for Good Hackathon</h1>
         <h2 class='noorange'>Sensure</h2>
        <img src="../../assets/pwc/mainimage.jpg" alt="An image with an elderly white ladt placed in the background. The foreground contains a green and yellow translucent screen with the sensure logo and the words 'sensure, living independetly with dignity'.">
          <h2>Overview</h2>
       <h3>Purpose</h3>
        <p>Create a prototype of an application that uses AI to benefit peoples lives in the medical, health and ellbeing field over a three day hackathon.</p>
        <h3>Role</h3>
        <p>UX Researcher and Designer/ Front-End Developer</p>
        <h3>Tools</h3>
        <p>Figma, Trello, HTML and CSS</p>
       
       
       <!-- Brief -->
       <h2>Brief</h2>
       <p>  We were given a brief that encouraged us as a group to create a system that would use AI for good. 
      We could pick any topic within health and had to think of a way to use artificial inteligence to improve peoples lives.
     </p>
       <h2>Initial Ideas</h2>
<p>We began the process by brainstorming key ideas. We looked at different users groups and ho AI could benefit these people in their daily lives; we though about domestic abuse survivors, assisted living for the elderly, monitering different health conditions such as diabetes, heart conditions and various different ways we could empower peoples lives through a system.</p>
 <h2 class='noorange'>Trello board containing initial ideas and KANBAN of work in progress</h2>
<img src="../../assets/pwc/trello.png" alt="This picture includes a KANBAN board of our initial ideas, user journeys and stories and our work in progress">
<p> After initial desk research, We settled on a system that would be able to monitor vulnarable elderly people in their homes. We had the difficulty of thinking about what kind of interactions with technology older users would have. We thought about the fact that over 65's are the least likely group to own a smart phone. It was also clear to us that if an elderly user was in trouble that they would not be able to send an alert.  </p>

<h2> Problem Space </h2>
<p>1 in 7 of the UK workforce population are juggling caring responsibilities with work Significant demands of caring mean that 600 people give up work every day to care for an older or disabled relative 10% of the UK population are carers, supporting a loved one who is older</p>
 
    <h2>Final Idea and Solution </h2>
     <p>We decided that our application would use internet of things(IOT) devices to monitor an elderly users activity around their home. If users live alone it can be worrying for their family members that do not live near by if they do not know how their family member is getting on. Using IOT devices would enable monitors(close family members) to monitor their elderly family members(monitees). Monitors would have an application that would send alerts to them if their family member is to not complete thier regular daily tasks around thier home. The machine learning used in the instance would learn and understand a monitees activity over a period of time and alert monitors if things are out of sync.. </p>
<h3>Idependence </h3>
<p> Uninvasive support with dignity and respect for the person receiving care Non  </p>
<h3>Carer Support</h3>
<p> Systems in place for carers, families and friends to be supported by professionals when providing care </p>

       <h2>User Centred Design Process</h2>

       <p>We used a user centred design approach and first created persons. One for a monitor and one for a monitee. The idea was to capture the relationship beteen the two individuals and really think about what would be important for the monitor to have access to.  </p>

       <h3>Personas</h3>
<iframe style="border: none;" loading="lazy" width="1000" height="600" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2Fe6fJEfmJSD0SlAjznjkqHu%2FPersonas%3Fkind%3D%26node-id%3D1%253A2%26page-id%3D0%253A1%26scaling%3Dcontain" allowfullscreen></iframe>    
      <p>Our personas covered a relationship between a mother and daughter. Highlighting the difficulties presented in their relationship. </p>
      
       <h3>User Journeys</h3>

  <iframe style="border: none;" loading="lazy" width="1000" height="600" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FS6QD4eLfB2AoN9XxT7kiow%2FUser-Journeys%3Fnode-id%3D2%253A15%26scaling%3Dcontain%26page-id%3D0%253A1" allowfullscreen></iframe>
<p>The user journeys cover a sunny day situation, hich would allow our monitee to access information about her mother. She can work and continue ith her daily activities knowing her mother is safe and mobing about the house. Our ish for the implementation of this device is for it to be unintrusive in the monitees life. They can move around the house and leave their home without having to interact with anything. This enables our monitor and monitee pair to have piece of mind and engage with as much information as they may need.</p>
<h2>Prototype</h2>

<div class="application4">
<img src="../../assets/pwc/app/sensure1.png" alt="">
<img src="../../assets/pwc/app/sensure2.png" alt="">
<img src="../../assets/pwc/app/sensure3.png" alt="">
<img src="../../assets/pwc/app/sensure4.png" alt="">

</div>

<p>The prorotype used mock data to suggest what the application might look like. We have a home screen that would allow users to log in, register or access their own hub if they are already logged in. The home page shows a map and if any alerts are raised they would be shown here. They can look at notifications and see when the last alert was raised and if their are currently any alerts. The info hub would provide useful information to carers; for example articles by professionals or news outlets could be published here. </p>

<p> The prototype was created using HTML, CSS and Javascript. Java was used for the backend and fed AI data into the application.
</p>
<h2>Hackathon Results</h2>

<p>As a result of our work and research, we placed 2nd in the hackathon. We were able demostrate our ideas and accomplished a remarkable amount of work within the two days. I thoroughly enjoyed working with my group and we all played an equal part in designing and prototyping our idea. </p>
 </div>
    </div>

</template>

<script>
export default {

    
}
</script>

<style>

/** page */
#pwc {
    display: grid;
    margin-bottom: 10rem;
    margin-left: 5vw;
    margin-top: .5rem;
    margin-right: 5vw;
    grid-template-columns: 90vw;
}

/** text styling */
#pwc h1, h3, h4, p {
    max-width: 1000px;
    animation: 2s fadeIn;

}
#pwc  h1 {
      font-size: 2.5rem;
}
#pwc  h2{
    font-size: 1.5rem;
   font-style: normal;
   text-decoration: underline;
   padding: 0rem;
}

.pwc-contents .building {
    max-width: 400px;
   
}

/** remove color from h2 */
#pwc  .noorange {
    background-color: rgba(255, 255, 255, 0);
}

#pwc  h3{
    font-size: 1.2rem;
   font-family: 'Poppins';
   letter-spacing: 0.05rem;
   font-weight:500;
   
}

#pwc h4{
    font-size: 1rem;
   font-family: 'Poppins';
   letter-spacing: 0.05rem;
}

#pwc p{
    font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 200;
font-size: 1rem;
letter-spacing: 0.1rem;


}

#pwc img {
    max-width: 100%;
}

#pwc a {
   font-size: 1.4rem;
   font-family: 'Athiti';
   font-style: normal;
   background-color: rgba(97, 20, 17, 0.828);
   border-radius: 3rem;
   text-align: center;
   padding: 0.2rem;
   text-decoration: none;
   color: rgb(255, 255, 255);
   padding-right: 2rem;
   padding-left: 2rem;

}

button {
    background-color: rgba(255, 0, 0, 0);
    border: none;
}
/** for mobile and desktop single item */
.displays {
    display: grid;
    grid-template-columns: 81% 17%;
    grid-template-rows: auto;
    max-width: 1000px;
    column-gap: 2%;
   
}

.displays img {
    max-width: 100%;
    height: auto;
     border-radius: 0rem;
   
}

.application4{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 3;
    max-width: 1000px;
    column-gap: 2%;
}

.application4 img {
    max-width: 100%;
    height: auto;
    border-radius: 0rem;
    padding-left: 3rem;
}




</style>