<template>
    <div id="steam">
        <div class="page-contents">

         <h1>Steam Desktop Application: A Usability Test and Redesign </h1>
         <img src="../../assets/steam/steamprev.png" alt="">
        <h2>Overview</h2>
        <p>I have always had difficulty navigating Steams user interface. I wanted to prove my hypothesis that Steam could improve its usability in some areas of the desktop application.</p>
       <h2>Purpose</h2>
       <p>The purpose of this usability evaluation was to discover frequent and long standing users possible issues with steams user interface.</p>
       <h2>Role</h2>
        <p>User Experience Designer and Researcher</p>
        <h2>Tools</h2>
        <p>Figma, Qualtrics, Miro, Excel, Procreate </p>
         <h2>User Research</h2>
         <p>To understand how regular and longstanding users use steam, an unmoderated usability evaluation was created based on key tasks you would expect to perform in Steam on a regular basis. Participants were asked for their age, gender and current country(as Steams servers change based on IP address). All participants were asked to start each task in the Library Tab of Steam. I asked each participant to record the steps they took to complete the task and record each item they clicked in within the application. The unmoderated usability evaluation consisted of four tasks:

<br>
<br> 1. Download a free game
<br> 2. Find the review section of the game that was just downloaded
<br> 3. Send a friend request to this user [redacted]
<br> 4. Add a Game to your wishlist 

<br> 
<br> Participants were then asked two questions after they performed each task: 
<br> 1. What do you think about the way you [complete the task] 
<br> 2. How would you change the way you [complete the task] 
<br>
<br> The evaluation began with demographic questions and how long have participants have used Steam and how often they access the application. The evaluation ended with three open questions about their Steam likes and dislikes and three closed questions, with a 5 point likert scale.
The initial pilot with three users found the following task void, as they expressed that they had never done the following:

<br> Share a game with this user [redacted]</p>


         <h2>Results</h2>
         <p>There were 29 responses to the survey</p>
<h3>Demographics</h3>

      <div class="data">
        <img src="../../assets/steam/data/age2.png" alt="">
        <img src="../../assets/steam/data/gender.png" alt="">
        <img src="../../assets/steam/data/how often.png" alt="">
        <img src="../../assets/steam/data/map.png" alt="">
        <img src="../../assets/steam/data/years.png" alt="">
      </div>



<p>There were more male participants than female and a majority of the participants were 18-24. 8 participants were from the UK, 6 were from the US, the rest of the participants were from other regions. </p>
<p>The mean amount of time users have held an account for is 9.27 years</p>


<h3>User Flow Diagrams</h3>
<img src="../../assets/steam/journeys/key2.jpg" alt=""><!-- KEY -->
<p>Breaking down the steps taken by users highlights that different groups of people access the same information in different ways. For example, People can select a game from the rolling menu that appears when users enter a query into the search box or users can press enter or select the magnifying glass which takes users to the games store page. When user interfaces offer alternative routes to the same destination or end goal, it is interesting to examine which routes are most popular. </p>
<h4>Task 1: Download a free game</h4>
<img src="../../assets/steam/journeys/task1.1.jpg" alt="">
<h4>Task 2: Find the review section of the game that was just downloaded</h4>
<img src="../../assets/steam/journeys/task2.1.jpg" alt="">
<h4>Task 3: Send a friend request to a specified user [created for this evaluation] </h4>
<img src="../../assets/steam/journeys/task3.4.jpg" alt="">
<h4>Task 4: Add a Game to your wishlist</h4>
<img src="../../assets/steam/journeys/task4.1.jpg" alt="">
<p>Tasks two and three also have varying routes through the application, the diversity of finding different information shows that there is complex infromation architecture, but from this alone we can not infere whether or not users have an issue with the varying opptiones presented to them. </p>
        
         <h2>Content Analysis</h2>
<h4>Question 1</h4><p> What do you think about the way [you complete the task]</p>
<h4>Question 2</h4><p> How would you change the way [you complete the task] </p>
<div class="whathow">
<img src="../../assets/steam/ca/what.png" alt="">
<img src="../../assets/steam/ca/how.png" alt="">
</div>

<p>The first question was coded by; positive, negative and neutral comment split. The second question was coded by the number of suggestions made by each participant. </p>  
<p>The second question was coded by the number of suggestions in an individual comment. </p>  
<p>Tasks 3 has the most negative and neutral comments and also the greatest number of suggestions per participant. Task 2 has the second greatest negative and neutral comments with a joint number of suggestions as task 1. </p>

<p>Task three had the most neutral and negative comments and also the most suggestions for changes from users. Task three also has three different routes. Some users said it would be easier to add the user as a friend if they had been provided with an invite link would have been easier than searching for a username, while others said being able to generate the invite link or code would make adding friends easier. As this functionality is already in place, some users do not know that this is something they are able to do. As summarised by participant one: “ The friend code system is new and wasn’t clearly explained”. </p>
<img src="../../assets/steam/ca/most.png" alt="">
<p>When asking participants what they liked most about steam, ease of use, preference over other platforms, game accessibility and friends/ social aspect of steam are the most frequantly mentioned. Looking at this in conjunction with the comments made by participants in relation to task three, would indicate that users enjoy the ability to communicate with friends and socialise using the platform, but unfortunately users believe there are ways this specific functionality or task can be made easier or improved upon. Because of this finding, the redesign will focus on improving the usability of adding friends.  </p>

         <h2>Redesign Focus</h2>
<h3>Send Friend request redesign</h3>
<img src="../../assets/steam/mapping/affinity.jpg" alt="">
<p>An affinity map was created based on user comments from task three. The comments were grouped into five sections, search funtionality, adding friends from other users friends lists or social media, the friends and chat window, users not knowing about the link/code generating feature and general UI or UX problems or suggestions. 
    <br>Users suggested that when searching for friends, there should be filtering options, as users of steam can have the same name as another user, including filtering options or unique codes would aid users in connecting with the correct person. Being able to add friends from other peoples friends lists or being able to link other social media platforms would also enable users to add friends with ease. 
    <br>
    <br> When selecting the friends and chat window a new window appears, which some users are not fond of. Not being able to add people directly from this window was also confusing. Users not knowing that you are able to generate a link or share friend codes with other users indicates users are not finding this page and are not able to benefit from this functionality despite suggesting it as an improvement. Users also said there were too many steps and too many options to take to find friends.
    <br>
    <br> The evaluation highlights that users enjoy the social aspects of steam but that there are imrpovements to be made. The users also being frequent and long standing users indicates that even users who have been using the platform for years still encounter obsticles and have suggestions for key user journeys within the application. </p>


         <h2>Wireframes of current system and flow</h2>
         <img src="../../assets/steam/mapping/flow.png" alt="">
   <p>The Flow diagram can be seen in wireframes. I have broken down each step into its main components.  I want to combine the ‘friends and chat’ page and the ‘friends’ page + combine the ‘add a friend’ page and the ‘search for friends’ page. Along with this, users will also be able to apply filters to the search so that they can have the confidence that they are adding the correct people. </p>
         <h2>New user journey</h2>
         <img src="../../assets/steam/redesign/newflow.jpg" alt="">
         <p>The new flow allows users to always end up on the same ‘add friend page’ inside of the username tab. regardless of where they select ‘add friend’ throughout the steam application. Here they can enter their friends: code, link or username/nickname. They can also copy their own link or friend code to share with others. </p>
         <h3>Wireframe of new flow</h3>
        <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FHTvqCDH2IZcWy2Xzbjkwpc%2FSteam-Wireframes%3Fnode-id%3D2%253A40%26scaling%3Dscale-down%26page-id%3D0%253A1%26starting-point-node-id%3D2%253A40" allowfullscreen></iframe>
        <h2>Focus Group</h2>
           <p>Before creating the final prototype of the redesign of steam, A focus group was conducted with 3 participants that were invovled in the initial usability evaluation, they consented to being contacted for further research in regards to this project. They found the new flow easier to navigate and also provided feedback on the design. They felt that it was important to also add a recently played with tab so that users can add people from multiplayer games they have recently played through steam. </p>
        <h2>Final Prototype</h2>
          <p>This final design was tested with the same five users from the previous focus group. They agreed that move the friends and chat to the profile page mka de the most sense. Removing unessary steps that users take to communicate with friends. Adding new friends is now easier, having filters enables users to have confidence in in who they are adding to their friends lists. They can now filter by country, nickname and enable ‘recently played with’ to find users they have played with in multiplayer and online games. None of the users reported having any accessibility needs and thus it is difficult to know whether or not this type of interface is accessible to a wider range of users. </p>
     <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2Fj2oJrWHPu5kEEA6wvsZcwR%2FSteam-Redesign%3Fnode-id%3D0%253A324%26scaling%3Dcontain%26page-id%3D0%253A1%26starting-point-node-id%3D0%253A324" allowfullscreen></iframe>
     


        </div>
    </div>
</template>

<script>
export default {
    
}
</script>

<style>

/** page */
#steam {
    display: grid;
    margin-bottom: 10rem;
    margin-left: 5vw;
    margin-top: .5rem;
    margin-right: 5vw;
    grid-template-columns: 90vw;
    animation: 1s fadeIn;
}

.data{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 3;
    max-width: 1000px;
    column-gap: 2%;
}

.data img {
   max-width: 100%;
    height: auto;
    border-radius: 0rem;
    padding-left: 3rem;
    margin-top: 1rem;
}

.whathow{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 3;
    max-width: 1000px;
    column-gap: 2%;
}

.whathow img {
   max-width: 100%;
    height: auto;
    border-radius: 0rem;
    padding-left: 3rem;
    margin-top: 1rem;
}


.rotate {
  transform: rotate(-90deg);
  height: 1000px;

}

/** text styling */
#steam h1, h3, h4, p {
    max-width: 1000px;
    animation: 2s fadeIn;

}



#steam  h1 {
    font-size: 2.5rem;
}
#steam  h2{
   font-size: 1.5rem;
   font-style: normal;
   text-decoration: underline;
   padding: 0rem;
  
}

/** remove color from h2 */
#steam  .noorange {
    background-color: rgba(255, 255, 255, 0);
}

#steam  h3{
   font-size: 1.2rem;
   font-family: 'Poppins';
   letter-spacing: 0.05rem;
   font-weight:500;
   
}

#steam h4{
   font-size: 1rem;
   font-family: 'Poppins';
   letter-spacing: 0.05rem;
}

#steam p{
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 200;
font-size: 1rem;
letter-spacing: 0.1rem;

}



#steam a {
   font-size: 1.4rem;
   font-family: 'Athiti';
   font-style: normal;
   background-color: rgba(97, 20, 17, 0.828);
   border-radius: 3rem;
   text-align: center;
   padding: 0.2rem;
   text-decoration: none;
   color: rgb(255, 255, 255);
   padding-right: 2rem;
   padding-left: 2rem;

}

button {
    background-color: rgba(255, 0, 0, 0);
    border: none;
}
/** for mobile and desktop single item */
.displays {
    display: grid;
    grid-template-columns: 81% 17%;
    grid-template-rows: auto;
    max-width: 1000px;
    column-gap: 2%;
   
}

#steam img  {
    max-width: 100%;
}

.displays img {
    max-width: 100%;
    height: auto;
    border-radius: 0rem;
   
}


</style>