<template>
    <div id='ug'>
       <!--Utiligroup page contents -->
       <div class='page-contents'>
        
       <h1>Energy Utility Company: Usability Evaluation</h1>
       <img class='imgbkd' src="../../assets/utiligroup/buzzprev.png" alt="">
        <!--Overview of project -->
        <h2>Overview</h2>
        
        <h3>Client</h3>
        <p>A Energy Utility Company, based in the north-west of england, have redesigned their entire website. But since the new design, they are unaware as to what effect this has had on usability.</p> 
        <h3>Purpose</h3>
        <p>Conduct a Usability Evaluation on the companies news site and present a solution.</p>
        <h3>Role</h3>
        <p>UX Researcher and Designer</p>
        <h3>Tools</h3>
        <p>Figma, Note.ly, LimeSurvey, Adobe Draw</p>

        <!--Research -->
        <h2>Research</h2>
        <h3>Survey</h3>
        <p>The survey was conducted on the four main pages of the news site. Buzz, corporate news, energy insights and energised events.</p>
        <p>The survey investigated was split into three parts: 
           <ol>
              <li>Tasks</li>
              <li>Questions</li>
              <li>Overall Satisfaction</li>
           </ol>
        </p>
        <p>The goal was to identify how easy the site was to navigate in the tasks section. The general questions were to test if users could find information on the site easily and the third section was used to measure how enjoyable the site was to use. Three users were identified and completed the survey remotely.</p>
        <h3>Personas</h3>
        <p>Personas were created to understand what types of users were most likely to access the news website. An understanding was formed around the users goals and personalities.</p>
        <iframe style="border: none;" loading="lazy" width="1000" height="600" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FKUHNsm6pxlFLDMq2eivtMl%2FPersonas-Utiligroup%3Fnode-id%3D6%253A0%26scaling%3Dmin-zoom" allowfullscreen></iframe>
        <h3>User Journeys</h3>
        <p>The user Journeys were created based on the personas that were created. The user journeys explored how each user would complete their tasks and helps to identify any pain points. The emotions that the users might experience while using the site helps to identify the changes that need to be made.</p>
       
       <!--Results -->
        <h2>Results</h2>
        
         <h3>Survey</h3>
          <p> The Survey found that all three users found the tasks relatively difficult to complete on a seven point Likert scale. The first two tasks all users found all articles they were tasked to find. However, in the last two tasks only one user was able to complete each task. </p>
          <p>The first two questions were completed by two out of three participants. The last question was completed by 1 out of three users.</p>
          <p>The comments made by the users can be seen below</p>
          <h4>Affinity Diagram</h4>
          <img class='notes' loading="lazy" src="../../assets/utiligroup/notely.jpg" alt="">
          <p>The Take aways from the surveys:</p>
          <p>
          <ol> <h4>Aesthetic Changes:</h4> 
             <li>Reduce colours on energy insights and coporate news.</li>
             <li>Reduce images</li>
             <li>Change Layout</li>
             <li>Change Menu Layout</li>
          </ol>
          <ol> <h4>Structural Changes:</h4>
             <li>Add search bar and filter</li>
             <li>Remove energy insights from corporate news</li>
          </ol>
          </p>
          <h3>User Journeys</h3>
          <p>The personas identified five potential users of the system. Using the goals and motivations from the personas, user journeys were created. These joruneys explore the goals and expectations of the user while they explore the system. Anything that falls short of this expectation is an opportunity for an improvement of the site.</p>
        <iframe style="border: none;" loading="lazy" width="800" height="600" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FKkTKxNY9hMWvwGH2IJWJh9%2FUser-Journeys-Utiligroup%3Fnode-id%3D46%253A60%26scaling%3Dmin-zoom" allowfullscreen></iframe> <h2>Solutions</h2>
         <p>The user joruneys identified the same issues found in the questionnaires. These usability problems have been fully identified and how have clear solutions which will improve the experience of the site.</p>
         <h3>Lo-Fidelity</h3>
         <img class='lofi' loading="lazy" src="../../assets/utiligroup/lofi.png" alt="Drawings of lo-fidelity mock ups for utligroup website">
          <p>The lo-fidelity designs, were created for both mobile and desktop. These designs included the solutions to the problems identified in the surveys and user journeys. I started by drawing a few desktop solutions for the layout. I finalised this idea and then created a mobile version using the same layout. I then created the menus for the layouts. The Buzz news layout will be used for all the news page layouts, this is to create more continuity between the pages.</p>
         <h3>Hi-Fidelity</h3>
         <p>The hi-fidelty wireframes were created using the lo-fis. The designs were finalised with a consistent colour scheme across all the pages. The colours are more consistent across the site. The images are only attached to  </p>
         <section class='hifi'>
            <div>
         <h4>Desktop</h4>
         <p>The desktop version can be interacted with below</p>
         <iframe style="border: none;" loading="lazy"  width="800" height="900" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2Fpd0djyu9upCRxjrb1yVO5W%2FUtiligroup-Design-Solution-Desktop%3Fnode-id%3D1%253A2%26scaling%3Dscale-down" allowfullscreen></iframe>
            </div>
            <div>
          <h4>Mobile</h4>
          <p>The mobile version can be interacted with below</p>
          <iframe class='mobile' style="border: none;" loading="lazy"  width="414" height="900" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FQhxfDf7LT0k7Y1WSyHgLSw%2FUtiligroup-Design-Solution-Mobile%3Fnode-id%3D57%253A0%26scaling%3Dscale-down" allowfullscreen></iframe>
 
            </div>

         </section>
      </div>

    </div>
</template>

<script>
export default {
    
}
</script>


<style>

/**styling for iframes on page */
iframe {
   margin-top: 1rem;
   width: 90vw;
   max-width: 1000px;
   max-height: 80vh;
   border-radius: .5rem;
}

/** images for lofis and note.ly */
.lofi, .notes {
   width: 90vw;
   height: auto;
   
}
#ug img {
   max-width: 1000px;
}

/** whole page */
#ug {
    display: grid;
    margin-bottom: 10rem;
    margin-left: 5vw;
    margin-top: .5rem;
    margin-right: 5vw;
    grid-template-columns: 90vw;
    animation: 1s fadeIn;

}
/** mobile iframe */
.mobile {
   max-width: 500px;
}

/** contents of page width max 1000px for large screens */
.page-contents {
   max-width: 1000px;
   place-self: center;
  
}

/** text styling */
#ug h1 {
font-size: 2.5rem;
}
#ug h2{
   font-size: 1.5rem;
   font-style: normal;
   text-decoration: underline;
   padding: 0rem;
   
}

#ug h3{
   font-size: 1.2rem;
   font-family: 'Poppins';
   letter-spacing: 0.05rem;
   font-weight:500;
   
}

#ug h4{
   font-size: 1rem;
   font-family: 'Poppins';
   letter-spacing: 0.05rem;
}

#ug p{
   font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 200;
font-size: 1rem;
letter-spacing: 0.1rem;


}





</style>