<template>
    <div id="vrhps">
   <div class="page-contents">
         <h1>Virtual Reality: House Plant Simulator</h1>
         <img src="../../assets/vrhps/idea.jpg" alt="">
         <p>Initial idea of a room with plants a furniture and how this game would be orientated towards caring for plants in a decorated space. </p>
        <h2>Overview</h2>
        <p>Create a Virtual reality(VR) game that enables people to unwind, relax, and escape from the pressures of life.</p>
       <h3>Role</h3>
        <p>Interaction designer</p>
        <h3>Tools</h3>
        <p>Figma, Procreate, Unity</p>
 <h2>Design Idea</h2>
<img src="../../assets/vrhps/inspiration.jpg" alt="">
<p>Initial inspiration for a virtual reality(VR) game began with an inspiration map. I wanted to create a game similar to existing games but in a virtual reality environment. I wanted the game to be relaxing and thus focused on games that enable users to relax. </p>
<h2>Feature Mapping</h2>
<img src="../../assets/vrhps/hpsg.jpg" alt="">
<p>I knew I wanted a home based game with a focus on plants, so began to map features based on this idea. </p>
<h2>Unstructured Interviews</h2>
<p>Using feature mapping to describe Idea</p>
<img src="../../assets/vrhps/interview.jpg" alt="">
<p>With these features, I was able to conduct an unstructured interview with 4 participants between 20-35. They provided valuable feedback and all agreed that they would find the game relaxing and enjoyable. </p>
<h2>Storyboarding</h2>
<img src="../../assets/vrhps/storyboard.jpg" alt="">
<p>Based on the initial mappings and interview, a storyboard was created to illustrate the concept and idea of the Virtual Reality houseplant simulator. The user starts with the basics, a room, plant, window and one piece of furniture. They are walked through a tutorial. How to look after their plants, access their menu and the market. </p>
<p>The controller mapping on page four outlines exactly how users would interact with their environment. Each button is mapped to an interaction. The post-it notes display the ideas behind each buttons interactions and from this, the interactions were illustrated. </p>

<h2>Controller Mapping and Interaction Design</h2>
<img src="../../assets/vrhps/interaction.png" alt="">
 <p>The diagram outlines the controller mapping and what each button is called. The images surrounding the controller mapping outline which interactions should be mapped onto each button.</p>
 <h2>Prototyping Process</h2>
 <p>Based on the interaction mapping and storyboard, an initial prototype has been created to illustrate a level beyond the tutorial in the House plant Simulator.  The user has acquired more furniture and is able to decorate their space.  They have selected an outside view that suits them and their environment they are trying to create. They also have a larger window to allow more light to reach their various plants and multiple plants to look after. Using this prototype, simple testing on the concept of this game can be carried out, eliciting further user feedback and whether the interactions are intuitive and natural. The users use teleportation spots to move around the room as some users complain of motion sickness when using VR. I did not want this game to be something people would physically only be able to play for a short period of time. The design choices have been made so that users can remain in the simulator for extended periods of time and can watch their plants grow, as well as earning in game rewards and purchasing further items and products from the market. Unity 3d was used to create this prototype.</p>
<h2>Unity VR prototype</h2>
<h3>Scene View</h3>
 <img src="../../assets/vrhps/final/image 14.png" alt="">
 <p>Front of room and window</p>
 <img src="../../assets/vrhps/final/image 16.png" alt="">
 <p>Back of room and window</p>
  <img src="../../assets/vrhps/final/image 15.png" alt="">
  <p>Furniture and decorations on right side of the room</p>
   <img src="../../assets/vrhps/final/image 17.png" alt="">
   <p>Left side of room</p>
   <h3>In-Game View</h3>
    <img src="../../assets/vrhps/final/image 22.png" alt="">
    <p>Move Plant Pot</p>
     <img src="../../assets/vrhps/final/image 23.png" alt="">
     <p>Hand Controllers In Game</p>
      <img src="../../assets/vrhps/final/image 20.png" alt="">
      <p>Teleportation Points</p>
       <img src="../../assets/vrhps/final/image 21.png" alt="">
       <p>Teleporting to New Spot</p>


<p>Using the prototype, the same users from the initial interview were contacted. Two users were willing to take part in tests. There was a slight learning curb when using the VR headset and equipment. They found the environment peaceful and explained that what has been created reflects their ideas of what this type of game would look like. They said having a bigger home structure or being able to customise the shape would be ideal, but enjoyed the aspect of having their own plants in a virtual room. The users also felt that the flowers outside were pointless since at some point you would be able to level up and have access to the garden, so having this as grass or plain land would make more sense in regards to gameplay.</p>
<h4>Asset Packs Used</h4>
 <div class="tinyp"> 
<p>G_HunE,  Ceramic Pack, Latest release date Dec 6, 2021,  https://assetstore.unity.com/packages/3d/environments/ceramic-pack-206452#publisher</p>
<p>AmbiMesh,  Raw Wooden Furniture Free, Latest release date: Aug 3, 2021, https://assetstore.unity.com/packages/3d/environments/ceramic-pack-206452#publisher</p>
<p>Badri Bebua, Plants, Latest release date: Jul 23, 2019, https://assetstore.unity.com/packages/3d/vegetation/plants/plants-150261</p>
<p>Unity Technologies, VR Beginner: The Escape Room, Latest release date: Oct 28, 2021, https://assetstore.unity.com/packages/templates/tutorials/vr-beginner-the-escape-room-163264</p>
<p>GBAndrewGB, Garden Realistic Tools, Latest release date: Jun 26, 2017, https://assetstore.unity.com/packages/3d/garden-realistic-tools-68960</p>
<p>Vladislav Pochezhertsev, Grass And Flowers Pack 1, Latest release date, Jul 18, 2017, https://assetstore.unity.com/packages/2d/textures-materials/nature/grass-and-flowers-pack-1-17100</p>
<p>forst, Conifers [BOTD], Latest release date, Jul 26, 2021, https://assetstore.unity.com/packages/3d/vegetation/trees/conifers-botd-142076</p>
<p>A dog's life software, Outdoor Ground Textures, Latest release date: Jan 11, 2021, https://assetstore.unity.com/packages/2d/textures-materials/floors/outdoor-ground-textures-12555</p>
<p>Vertex Studio, Modular Sofa FREE, Latest release date: Feb 22, 2021, https://assetstore.unity.com/packages/3d/props/furniture/modular-sofa-free-189368</p>
<p>FlatRiver, Simple Wall Lamp, Latest release date, Aug 19, 2016, https://assetstore.unity.com/packages/3d/props/simple-wall-lamp-69411</p>


 </div>
        </div>
       
    </div>
</template>

<script>
export default {
    
}
</script>

<style>

/** page */
#vrhps  {
    display: grid;
    margin-bottom: 10rem;
    margin-left: 5vw;
    margin-top: .5rem;
    margin-right: 5vw;
    grid-template-columns: 90vw;
}



/** text styling */
#vrhps  h1, h3, h4, p {
    max-width: 1000px;
    animation: 2s fadeIn;

}
#vrhps   h1 {
    font-size: 2.5rem;
}
#vrhps  h2{
    font-size: 1.5rem;
   font-style: normal;
   text-decoration: underline;
   padding: 0rem;
}


#vrhps  h3{
    font-size: 1.2rem;
   font-family: 'Poppins';
   letter-spacing: 0.05rem;
   font-weight:500;
   
}

#vrhps  h4{
    font-size: 1rem;
   font-family: 'Poppins';
   letter-spacing: 0.05rem;
}

#vrhps  p{
    font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 200;
font-size: 1rem;
letter-spacing: 0.1rem;


}

#vrhps  a {
   font-size: 1.4rem;
   font-family: 'Athiti';
   font-style: normal;
   background-color: rgba(97, 20, 17, 0.828);
   border-radius: 3rem;
   text-align: center;
   padding: 0.2rem;
   text-decoration: none;
   color: rgb(255, 255, 255);
   padding-right: 2rem;
   padding-left: 2rem;

}

#vrhps img {
    max-width: 100%;
}

button {
    background-color: rgba(255, 0, 0, 0);
    border: none;
}
/** for mobile and desktop single item */
.displays {
    display: grid;
    grid-template-columns: 81% 17%;
    grid-template-rows: auto;
    max-width: 1000px;
    column-gap: 2%;
   
}

.displays img {
    max-width: 100%;
    height: auto;
     border-radius: 0rem;
   
}
</style>