<template>
    <div id='wilko'>
       <!--Utiligroup page contents -->
       <div class='page-contents'>
         <h1>In Store Processes: Gap Scan</h1>
         <div class="wilkoprev">
            <img  src="../../assets/wilko/Group_31.png" alt="" loading="lazy">
            <img  src="../../assets/wilko/wilkoprev.png" alt="" loading="lazy">
            <img  src="../../assets/wilko/Group30.png" alt="" loading="lazy">
           
            

         </div>

        <!--Overview of project -->
        <h2>Overview</h2>
        
        <h3>Client</h3>
        <p>Wilko - Focusing on in store process changes for Sales Assistants and Managers</p> 
        <h3>Purpose</h3>
        <p>Redesign and implement old process flows in store, creating an application that would be used to fulfill the Gap Scan process.</p>
        <h3>Role</h3>
        <p>Solutions Manager</p>
        <h3>Tools</h3>
        <p>Figma</p>
        <h3>Description</h3>
        <p>Wilko tasked us with recreating their existing work flow within a mobile app. They were previously using an older set of scanners to complete work processes in store. 
         We were given the opportunity to redesign these processes and enable workers in store to work through the process using a mobile application on a Zebra TC21 device.
        </p>
        <h2>Wireframes</h2>
        <h3>Start</h3>
        <p> Gap scan was used by sales assistants in the morning to fill gaps in shelves on the shop floor. There were 3 phases to this work; "Scanning", "In Review" and "Complete". </p>
        <div class="start">
         <img src="../../assets/wilko/gap_scan/1HubTile.png" alt="" loading="lazy">
        <img src="../../assets/wilko/gap_scan/2Scanningkanban.png" alt="" loading="lazy">
        <img src="../../assets/wilko/gap_scan/3noproducts.png" alt="" loading="lazy">
        </div>
       

        <h3>Scanning</h3>
        <p>"Scanning" where gaps would be scanned on the shop floor and the user would get feedback describing whether their was enought stock to fill the gap appropriately or not.</p>
      
        <div class="scanning">
        <img src="../../assets/wilko/gap_scan/4Scanning1.png" alt="" loading="lazy">
        <img src="../../assets/wilko/gap_scan/5Scanning2.png" alt="" loading="lazy">
        <img src="../../assets/wilko/gap_scan/6Scanning3.png" alt="" loading="lazy">
        <img src="../../assets/wilko/gap_scan/7Scanning4.png" alt="" loading="lazy">
        <img src="../../assets/wilko/gap_scan/8Scanning5.png" alt="" loading="lazy">
        <img src="../../assets/wilko/gap_scan/9Scanning6-AZopen.png" alt="" loading="lazy">
        <img src="../../assets/wilko/gap_scan/10Scanning7.png" alt="" loading="lazy">
        <img src="../../assets/wilko/gap_scan/11Scanningcomplete.png" alt="" loading="lazy">
        </div>
        
        <h3>In Review</h3>
      <p>"In Review" allowed our users to review the stock they had scanned in the warehouse and enable them to find the stock they were looking for based on store specific location data.</p>
      
        <div class="review">
        <img src="../../assets/wilko/gap_scan/12Inreviewkanban.png" alt="" loading="lazy">
        <img src="../../assets/wilko/gap_scan/13inreview1.png" alt="" loading="lazy">
        <img src="../../assets/wilko/gap_scan/14inreview2.png" alt="" loading="lazy">
        <img src="../../assets/wilko/gap_scan/15inreview3.png" alt="" loading="lazy">
        </div>
        <h3>Complete</h3>
        <p>"Complete" was the third and final stage which detailed to the sales assistants what previous gaps had been filled.</p>
      
        <div class="complete">
        <img src="../../assets/wilko/gap_scan/19completekanban.png" alt="" loading="lazy">
        <img src="../../assets/wilko/gap_scan/20Completelistview.png" alt="" loading="lazy">
        </div>
        <p>This Workflow was done in tandom with other sales associates and thus, the completed lists would be merged in the end. Showing one list enabled managers to review the completed Gap scan process as a whole.
      </p>
      </div>

    </div>
</template>

<script>
export default {
    
}
</script>


<style>

/**styling for iframes on page */
iframe {
   margin-top: 1rem;
   width: 90vw;
   max-width: 1000px;
   max-height: 80vh;
   border-radius: .5rem;
}

/** images for lofis and note.ly */
.lofi, .notes {
   width: 90vw;
   height: auto;
   
}
#wilko img {
   max-width: 1000px;
}

.wilkoprev {
   display:grid;
   grid-template-columns: auto auto auto;
   grid-template-rows: 50vh;
   max-width: 1000px;
   padding-bottom: 1rem;
}

.wilkoprev img  {
  height: 50vh;

}
/** whole page */
#wilko {
    display: grid;
    margin-bottom: 10rem;
    margin-left: 5vw;
    margin-top: .5rem;
    margin-right: 5vw;
    grid-template-columns: 90vw;
    animation: 1s fadeIn;

}
/** mobile iframe */
.mobile {
   max-width: 500px;
}

/** contents of page width max 1000px for large screens */
.page-contents {
   max-width: 1000px;
   place-self: center;
  
}

/** text styling */
#wilko h1 {
font-size: 2.5rem;
}
#wilko h2{
   font-size: 1.5rem;
   font-style: normal;
   text-decoration: underline;
   padding: 0rem;
   
}

#wilko h3{
   font-size: 1.2rem;
   font-family: 'Poppins';
   letter-spacing: 0.05rem;
   font-weight:500;
   
}

#wilko h4{
   font-size: 1rem;
   font-family: 'Poppins';
   letter-spacing: 0.05rem;
}

#wilko p{
   font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 200;
font-size: 1rem;
letter-spacing: 0.1rem;


}


.start {
   display: grid;
   grid-template-columns: auto auto auto;
   background-color: rgb(238, 238, 238);
   max-width: 1000px;
   place-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border: 3rem;
}

.start img {
   height: 50vh;
}


.scanning {
   display: grid;
   grid-template-columns: auto auto auto auto;
   grid-template-rows: auto auto;
   background-color: rgb(238, 238, 238);
   max-width: 1000px;
   place-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-top: 2rem;
    border: 3rem;
}

.scanning img {
   height: 30vh;
   margin-top: 2rem;
}

.review {
   display: grid;
   grid-template-columns: auto auto auto auto;
   background-color: rgb(238, 238, 238);
   max-width: 1000px;
   place-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-top: 2rem;
    border: 3rem;
}

.review img {
   height: 30vh;
   margin-top: 2rem;
}


.complete {
   display: grid;
   grid-template-columns: auto auto;
   background-color: rgb(238, 238, 238);
   max-width: 1000px;
   place-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-top: 2rem;
    border: 3rem;
}

.complete img {
   height: 60vh;
   margin-top: 2rem;
}

</style>